<img src="https://i.pinimg.com/564x/b1/c4/63/b1c4634b534e06af917a73a2d194faa1.jpg" class="card-img-top" alt="...">
<div class="card-body">
    <h5 class="card-title" style="color: black; font-weight: bold;">Valores</h5>
    <p class="card-text text-dark">
        El Ecosistema Estatal de Robótica tiene como componente principal la integración de 
        los alumnos, profesores y público en general que participarán activamente en cada una 
        de las estrategias y que...
    </p>
    <!-- <a href="#" class="btn btn-primary">Ver más</a> -->
</div>
