<div class="row">
    <div class="col order-last col-lg-6">
        <h5>Premiaciones</h5>
        <hr>
        <p>
          En el año 2018, Robotics ganó el 1er lugar en la compentencia de "Baile individual".
        </p>
        <!-- <button class="btn btn-outline-light mb-5 mb-lg-0">
            Ver mas
        </button> -->
    </div>
    
    <div id="carouselExampleControls5" class="carousel slide col-12 col-lg-6 text-center">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleControls5" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleControls5" data-bs-slide-to="1" aria-label="Slide 2"></button>
            
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://i.pinimg.com/564x/00/13/cf/0013cfdb60f574ef1092c0d215f9360d.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://i.pinimg.com/564x/8e/63/16/8e63169a0ee70c22ea61fb0ec03dd9e8.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls5" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls5" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
      </div>
    
</div>
