<div class="row">
    <div id="carouselExampleControls4" class="carousel slide col-12 col-lg-6 text-center">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleControls4" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleControls4" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleControls4" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleControls4" data-bs-slide-to="3" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://i.pinimg.com/564x/36/f3/05/36f305e783e01c6bb66f287d4756952e.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://i.pinimg.com/564x/bf/13/4e/bf134e5eea4b73c6d8d11b5f134a7d7e.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://i.pinimg.com/564x/06/f0/43/06f043fb09f3f67532dedce48013dcb1.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://i.pinimg.com/564x/28/2c/c1/282cc19e110d17a1167cd930c33aaf75.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls4" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls4" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
      </div>
    <div class="col order-last col-lg-6">
        
        <h5>¿Quiénes somos?</h5>
        <hr>
        <p>
          El Ecosistema Estatal de Robótica del Estado de Puebla surge en el año 2018, 
          como una propuesta del Fondo Mixto CONACYT- Gobierno del estado de Puebla, 
          la cual fue aceptada en septiembre de ese mismo año, para comenzar a operar en 
          los primeros meses del año 2019.
          El proyecto consiste en el diseño e implementación del Ecosistema Estatal de 
          Robótica del estado de Puebla que contribuya al fomento de las vocaciones 
          científicas y tecnológicas entre los jóvenes de la entidad, a través del diseño 
          e implementación de planes y...
        </p>
        <!-- <button class="btn btn-outline-light mb-5 mb-lg-0">
            Ver mas
        </button> -->
    </div>
</div>
