<h1>
    ""
    
</h1>
<app-slider></app-slider>

<section id="NAO">
    <main class="bg-dark text-white py-5">
        <br><br>
        <div class="container">
          <app-nao-info></app-nao-info>
      </div>
    </main>
</section>

<section id="quien">
    <main class="bg-dark text-white py-5" >
        <br><br>
        <div class="container">
             <app-quienes-somos></app-quienes-somos> 
         </div>
     </main>
</section>

 
<section id="concurso">
    <main class="bg-dark text-white py-5">
        <br><br>
        <div class="container">
            <app-concursos></app-concursos> 
        </div>
    </main>
</section>

<section id="Premios">
    <main class="bg-dark text-white py-5">
        <br><br>
        <div class="container">
            <app-premiaciones></app-premiaciones> 
        </div>
    </main>
</section>
