<h1 class="text-center py-5 display-6">Encuesta de Impacto de la Percepción de las Ingenierías</h1>
<p class="lead text-center">Estimado estudiante</p>
<p class="lead text-center">Te invitamos a responder la siguiente encuesta de satisfacción:</p> 
<p class="lead text-center">Tus respuestas nos darán la posibilidad de mejorar los servicios que te ofrecemos, lo que repercutirá en una mejor preparación para ti.
    Los datos recabados serán utilizados únicamente con fines estadísticos.</p>


<div class="py-5">
    <form>
        <app-input-encuesta class="row g-3 needs-validation" novalidate></app-input-encuesta>
    </form>
</div>
<div class="py-5">
    <form>   
        <app-formulario class="row g-3 needs-validation" novalidate></app-formulario>
    </form> 
</div>
