<div class="card">
    <img src="https://i.pinimg.com/564x/af/ba/e7/afbae7dec7fba154b6e97fec7684a9db.jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <h4 class="card-title" style="color: black; font-weight: bold;">Misión</h4> 
        <p class="card-text text-dark">
            El Ecosistema Estatal de Robótica del Estado de Puebla tiene como misión el <b>"Promover las vocaciones Científicas y Tecnológicas entre los jóvenes del estado a través de la Robótica"</b> .
        </p>
        <!-- <a href="#" class="btn btn-primary">Ver más</a> -->
    </div>
</div>
