<div class="col-md-4">
    <label for="text-1" class="form-label">Nombre</label>
    <input 
    type="text" 
    id="text-1" 
    class="form-control" 
    placeholder="Ej. Juan"
    required
    >
    <div class="valid-feedback">
        Perfecto todo correcto
    </div>
</div>
<div class="col-md-4">
    <label for="" class="form-label">Apellidos</label>
    <input 
    type="text" 
    id="text-2" 
    class="form-control"
    placeholder="Ej. Ramírez Huerta"
    required
    >
    <div class="valid-feedback">
        Looks Good
    </div>
</div>
<div class="col-md-4">
    <label for="text-3" class="form-label">Correo</label>
    <div class="input-group has-validation">
        <span class="input-group-text" id="iconoUserName">@</span>
        <input
        type="text"
        required
        class="form-control"
        id="text-3"
        aria-describedby="iconoUsername"
        placeholder="Ej. juanramirez@gmail.com"
        >
        <div class="invalid-feedback">
            Coloque su correo
        </div>
    </div>
</div>
<div class="col-12">
    <button
    type="submit"
    class="btn btn-primary"
    >
    Enviar Informes
    </button>
</div>
