<div class="row">
    <div class="col-12 col-lg-5">
        <h5>Concursos</h5>
        <hr>
        <p>
          En 2019, participamos en el Torneo de Robótica y Tecnologías Avanzadas 2019 
          (TRYTA 2019) en agosto, en Centro de Estudios Científicos y Tecnológicos No 
          16 "Hidalgo" <a href="https://www.cecyt16.ipn.mx/">(CECYT16)</a>  
          del Instituto Politécnico Nacional (IPN). El torneo cuenta con 21 categorías 
          diferentes. Nuestra participación fue de 3 prototipos: 1 seguidor y 2 sumos 
          radio controlados.
        </p>
        <!-- <button class="btn btn-outline-light mb-5 mb-lg-0">
            Ver mas
        </button> -->
    </div>
    
    <div id="carouselExampleControls2" class="carousel slide col-12 col-lg-7 text-right">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleControls2" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleControls2" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleControls2" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://i.pinimg.com/564x/ff/7f/ae/ff7faed3e451746f7d5ea477003b4e7f.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://i.pinimg.com/564x/50/07/d9/5007d9d9aa5af5543b51077774ae6dac.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://i.pinimg.com/564x/ec/ae/51/ecae512c23f7ceefaebef8a2ed49fc1e.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls2" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls2" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
      </div>
    
</div>
