<h1 class="text-center py-5 display-6">Un poco de historia</h1>
    <p class="lead text-justify font-family">
        Los ecosistemas tecnológicos favorecen el desarrollo de soluciones y aplicaciones tecnológicas de diversa índole, y que dan soporte a la gestión del conocimiento, los aprendizajes y el desarrollo de competencias en entornos heterogéneos. La sostenibilidad de estos ecosistemas deriva de relaciones simbióticas entre los diferentes agentes con el resto de los factores sociales y tecnológicos que lo integran para un propósito común.
        Uno de los desafíos que enfrenta el ecosistema socioeconómico de Puebla, es armonizar sus políticas públicas dedicadas a desarrollar talento y a estimular las capacidades de innovación, constituyendo un marco para la generación de ecosistemas de innovación que sean capaces de adaptarse y asimilar eficientemente las transformaciones del acelerado desarrollo tecnológico.

    </p>
        
    <div class="row pt-5">
        <div class="col-12 col-md-4 mb-3">
            <app-card1></app-card1>
        </div>
        <div class="col-12 col-md-4 mb-3">
            <div class="card">
                <app-card2></app-card2>
            </div>
        </div>
        <div class="col-12 col-md-4 mb-3">
            <div class="card">
                <app-card3></app-card3>
            </div>
        </div>
    </div>
    <h1 class="text-center py-5 display-6" id="info">Contacto</h1>
    <p>
        ¿Estas interesado en saber más? Por favor registra tus datos y te haremos llegar un correo a tu buzón
    </p>
    <div class="py-5" >
        <form>
            <app-input-info class="row g-3 needs-validation" novalidate></app-input-info>
        </form>
    </div>

