<div class="btn-group1" role="group1" aria-label="Basic radio toggle button group">

  <p>¿Tienes interés por estudiar alguna ingeniería?</p>
  <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
  <label class="btn btn-outline-primary" for="btnradio1">SI</label>

  <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
  <label class="btn btn-outline-primary" for="btnradio2">NO</label>
</div>

<div class="btn-group2" role="group2" aria-label="Basic radio toggle button group">
  <p>¿Te gustaron las actividades que presentamos?</p>
  <input type="radio" class="btn-check" name="btnradio2" id="btnradio3" autocomplete="off" checked>
  <label class="btn btn-outline-primary" for="btnradio3">SI</label>
  <input type="radio" class="btn-check" name="btnradio2" id="btnradio4" autocomplete="off">
  <label class="btn btn-outline-primary" for="btnradio4">NO</label>
</div>

<div class="btn-group3" role="group3" aria-label="Basic radio toggle button group">

  <p>¿Después de ver las actividades, te gustaría estudiar alguna ingeniería?</p>
  <input type="radio" class="btn-check" name="btnradio3" id="btnradio5" autocomplete="off" checked>
  <label class="btn btn-outline-primary" for="btnradio5">SI</label>
  
  <input type="radio" class="btn-check" name="btnradio3" id="btnradio6" autocomplete="off">
  <label class="btn btn-outline-primary" for="btnradio6">NO</label>
  
</div>

<div class="btn-group4" role="group4" aria-label="Basic radio toggle button group">
  <p>¿Recomendarías esta actividad a tus amigos y/o familiares?</p>
  <input type="radio" class="btn-check" name="btnradio4" id="btnradio7" autocomplete="off" checked>
  <label class="btn btn-outline-primary" for="btnradio7">SI</label>
  <input type="radio" class="btn-check" name="btnradio4" id="btnradio8" autocomplete="off">
  <label class="btn btn-outline-primary" for="btnradio8">NO</label>
</div>

<div class="col-md-4">
  <label for="" class="form-label">¿Qué carrera te gustaria estudiar?</label>
  <input 
  type="text" 
  id="text-2" 
  class="form-control"
  value=""
  required
  >
  <div class="valid-feedback">
      ¡Bien hecho!
  </div>
</div>  
<br>
  <div class="col-12">
  <button 
  type="submit"
  class="btn btn-primary"
  >
  Enviar Encuesta
  </button>
  </div>

  <p class="lead text-center">Muchas gracias por tu participación. </p> 
  <p class="lead text-center">Tienes alguna duda y/o comentario, danos tu opinión:
          ecosistema.estatal@utpuebla.edu.mx</p>
          <p class="lead text-center"><strong>Aviso de Privacidad</strong> </p>
          <p class="lead text-center">
              Los datos recabados por el Ecosistema Estatal de Robótica en la presente encuesta son utilizados con fines estadísticos y medición de impacto educativo, conocer la pertinencia social de nuestros programas.
              El Ecosistema Estatal de Robótica cuida y resguarda la privacidad de los datos personales de acuerdo a la Ley Federal de Protección de Datos Personales.</p> 