<div class="container1">
    <input type="checkbox" id="btn-mas">
    <div class="redes">
        <a href="#" class="fa fa-facebook" target="_blank" title="Facebook"></a>
        <a href="http://doc.aldebaran.com/2-1/_downloads/NAOmark.pdf" target="_blank" title="Pdf NAOMarks" class="fa fa-file-pdf-o"></a>
        <a href="http://www.utpuebla.edu.mx" target="_blank" title="UTPuebla Oficial" class="fa fa-graduation-cap"></a>
    </div>
    <div class="btn-mas">
        <label for="btn-mas" class="fa fa-plus"></label> 
    </div>
</div>