<div class="text-center py-5">
    <i class="bi bi-award-fill h3"></i>
    <i class="bi bi-briefcase-fill h3"></i>
    <i class="bi bi-award-fill h3"></i>
</div>
<h2 class="text-center display-4 mb-5">Proyectos y actividades</h2>
<div class="row">
    <div class="col-12 col-lg-4">
        
        <h5>NAO</h5>
        <hr>
        <p>
          Soy una creación de la empresa francesa Aldebaran Robotics, 
          mi primera versión fue presentada en el año 2005 y con el paso del tiempo he 
          evolucionado considerablemente gracias a las investigaciones de prestigiadas 
          universidades en todo el mundo. Estoy clasificado dentro de los robots llamados 
          humanoides —tengo cabeza, torso, brazos, manos, dedos, piernas y pies—, el movimiento de mi 
          cuerpo es muy similar al tuyo.
        </p>
        <!-- <button class="btn btn-outline-light mb-5 mb-lg-0">
            Ver mas
        </button> -->
    </div>
    <div id="carouselExampleControls3" class="carousel slide col-12 col-lg-7 text-right">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleControls3" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleControls3" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleControls3" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleControls3" data-bs-slide-to="3" aria-label="Slide 4"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://i.pinimg.com/originals/20/b8/21/20b821834def7b6f1f95e6b596cc4b76.jpg" class="d-block w-100" alt="..."> 
          </div>
          <div class="carousel-item">
            <img src="https://i.pinimg.com/564x/fc/90/94/fc909475b3db0b019530ef05d41218b5.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://i.pinimg.com/564x/e5/ec/06/e5ec06d95466e5ae4590974b8e54d162.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://i.pinimg.com/564x/99/a1/9f/99a19f59d6875a3050e6f4130b0fb819.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls3" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls3" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
      </div>
</div>