<footer class="container-fluid bg-dark py-5 text-center text-light">
    <!-- <div class="container">
        <div class="text-center py-5 text-primary">
            <i class="bi bi-facebook h2"></i>
            <i class="bi bi-twitter h2"></i>
            <i class="bi bi-instagram h2"></i>
            <i class="bi bi-youtube h2"></i>
        </div>
    </div> -->
    <p>Universidad Tecnológica de Puebla</p>
    <p> Antiguo Camino a La Resurrección 1002 - A, Zona Industrial, 72300 Puebla, Pue.</p>
    <p>Edificio K-5</p>  
</footer>
<div class="container-fluid">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3771.12168224649!2d-98.15413958509913!3d19.058386887098!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85cfc1c9a30530ab%3A0xefd33e2f1a6ca5a2!2sUniversidad%20Tecnol%C3%B3gica%20de%20Puebla!5e0!3m2!1ses!2smx!4v1628020000396!5m2!1ses!2smx" width="100%" height="250" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3275.1797983843226!2d-98.1541395855756!3d19.058391957479373!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85cfc1c9a30530ab%3A0xefd33e2f1a6ca5a2!2sUniversidad%20Tecnol%C3%B3gica%20de%20Puebla!5e1!3m2!1ses!2smx!4v1628021497692!5m2!1ses!2smx" width="100%" height="250" style="border:0;" allowfullscreen="" loading="lazy"></iframe> -->
</div>
